.title-dialog{
    background-color: rgba(68,67,187,1);
    color: white;
    text-align: center;
}

.body-footer{
    text-align: center;
}

td{
    padding-right: 50px;
}

.sub{
    font-weight: bold;
}

