/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: linear-gradient(to bottom, #ffffff -2%, #33cc33 400%);
}

.ng-star-inserted  {
    overflow: scroll;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.ng-star-inserted::-webkit-scrollbar {
    display: none;
}